<!DOCTYPE html>
<html>

    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>

        <% include ../static/partials/navbar.ejs %>

        <main class="container">

            <% include ../static/partials/messages.ejs %>
            
            <h1><%= album.title %></h1>

            <a href="/albums/<%= album.id %>/posts/new" class="btn btn-success">New Post</a>
            <!-- <a href="/albums/<%= album.id %>/edit" class="btn btn-warning">Edit</a> -->
            <form style="display:initial" action="/albums/<%= album.id %>/destroy" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <ul class="list-group">
                <% album.posts.forEach((post) => { %>
                    <li class="list-group-item">
                        <div class='post-image-column'>
                            <img src="<%= post.image %>" alt="Post Image" class="post-image-album-page">
                        </div>
                        <div class='post-caption-column'>
                            <h6><a href="/albums/<%= album.id %>/posts/<%= post.id %>"> <%= post.caption %> </a></h6>
                        </div>
                        <hr>
                    </li>
                <% }) %>
            </ul>

        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>